@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Tektur:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  width: 80vw;
  margin: 0 auto;
  background-color: #000;
}

/*HEADER*/
header {
  background-color:#222;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px 30px 30px;

  
}
header h1 {
  color: rgb(41, 223, 223);
  font-size: 4rem;
}
header span {
  color: #fff;

}

header .navegacao-hearder {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 1.5rem;

}
header i{
  color: #222;
}

header .navegacao-hearder li a {
  color: #fff;
  font-size: 1.3em;
  width: 0px;
  height: 0px;

}
header .navegacao-hearder li a::after {
  content: '';
  width: 10px;
  height: 0px;
  display: block;
  border-bottom: 4px solid transparent;
  transition: .7s;
}
header .navegacao-hearder li a:hover::after{
  width: 100%;
  height: 0px;
  padding: 0px;
  border: 5px solid cyan;
  border-radius: 30px;

}

/*DOWNLOAD CV SECAO*/

.section-cv {
  animation: inicializar 0.7s forwards;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.section-cv div {
  font-family: "Tektur", cursive;
  margin-top: 50px;
  align-self: start;
  display: grid;
  gap: 30px;
  font-size: 1.5rem;
  padding: 150px;
}
.section-cv div h2 {
  font-weight: 600;
  display: grid;
}
.section-cv div p {
  font-weight: 600;
  display: grid;
  color: #fff;
}
.section-cv div a {
  justify-self: start;
  color: #fff;
  padding: 15px 40px;
  border-radius: 5px;
  border: 2px solid white;
}
.section-cv div a:hover {
  border: 2px solid cyan;
}
.section-cv img {
  border-radius: 25%;
  max-width: 100%;
  padding: 100px;
}
@keyframes inicializar {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*SEÇÃO PRINCIPAL SOBRE MIM*/

main {
  background-color: #111;
  color: white;
  border-radius: 50px;
}
main .sobre {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  justify-content: center;
  padding: 50px;
}

.sobre_titulo {
  margin: 30px 0;
  grid-column: 1/-1;
  text-align: center;
  color: #fff;
}
.sobre_titulo h1 {
  font-family: "Roboto Mono", monospace;
  font-family: "Tektur", cursive;
  font-size: 2.5rem;
  color: aqua;
  margin-bottom: 40px;
}
.sobre_titulo p{
    color: antiquewhite;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
    
}
div .sobre_text p{
  text-align: justify;
  text-indent: 80px;
}

.sobre_titulo div{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.sobre_titulo span{
    display: block;
    height: 20px;
    width: 20px;
    border-radius:50%;
    background-color: aqua;
}
.digitando{
  color: aqua;
}

.sobre img{
    animation: ladoSecao .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius:50%;
    filter: blur(0);
}

.sobre img:hover{
    transition: .5s ease-in;
    filter: blur(2px);
}

.sobre_conteudo{
    animation: sobeSecao .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobre_text{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;    
}

.sobre_text h1{
    font-size: 2.3rem;
    color: #fff;
    grid-column: 1/-1;
}
.sobre_text h1::after{
    background-color: aqua;
    height: 6px;
    width: 60px;
    margin: 20px 0px;
    content: '';
    display: block;
    border-radius: 5px;

}
.sobre_text p{
    font-size: 1.3rem;
    grid-column: 1/-1;
        
}
.sobre_info{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i {
    color: aqua;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}
.sobre_info p{
    font-size: 1.1rem;
}

@keyframes sobeSecao {
    from{
        transform: translate3d(60px,0,0);
    }
    to{
        transform: translate3d(0,0,0);
    }
    
}
@keyframes ladoSecao {
    from{
        transform: translate3d(-60px,0,0);
    }
    to{
        transform: translate3d(0,0,0);
    }
    
}


/*SEÇÃO SERVICES PROJECTS*/
.services{
  background-color:  #151515;
  padding: 100px;
  border-radius: 50px;
  margin-top: 30px;
}
.my_services {
  padding: 100px;
  color:antiquewhite;
  font-size: 1rem;
 }
 .my_services ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap:40px;
  align-items: center;
  justify-content: center;

 }
 .my_services ul li {
  position: relative;
  padding: 10px;
  display: grid;
  gap: 10px;
  text-align: center;
  max-width: 300px;
  height: 300px;
  align-content: center;
  background-color: #222;
  border-radius: 30px;
  border: 3px solid aqua;
 }
 .my_services ul li i {
    color: aqua;
    font-size: 2.5rem;
    
 }
 .my_services ul li a {
  color: aqua;
  border:3px solid aqua;
  border-radius: 30px;
  padding:10px;
  
}

.my_services ul li h3{
  color: antiquewhite;
  font-size: 2.0rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.my_services ul li p{
  color: antiquewhite;
  font-size: 1.0rem;
  font-family: "Tektur", cursive;

}
.my_services ul li a:hover {
  color: white;
  border:2px solid rgb(255, 0, 0);
  box-shadow: 2px 2px 2px rgba(255, 0, 0, 0.39);
  
}
/*ÁREA DE RESUME*/
 
.my_resume{
  color: #fff;
}

.resume_generic{
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;
  align-items: start;
}
.resume_generic h2{
  font-family: "Tektur", cursive;
  font-size: 1.5rem;
  justify-self: start;
  padding: 10px;
  background-color: rgba(0, 255, 255, 0.548);
  border-radius: 20px;
}
.resume_generic h2 i{
    margin-right: 10px ;
}
.experence{
  margin-bottom: 30px;
  grid-column: 1;
  grid-row: 1;
}

.education{
  margin-bottom: 30px;
  grid-column: 2;
  grid-row: 1;
}

.experence_content ul{
  color: aqua;
  gap: 30px;
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
  font-size: 30px;

}
.resume_generic .experence_content div{
  background-color: #222;
  animation: ladoSecao .6s ease-in-out forwards;
  display: none;
  padding: 30px;
  position: relative;
}
.resume_generic .experence_content div.ativo{
  display: block;

}
.resume_generic .experence_content div::before{
  content: '';
  border-right:30px solid transparent ;
  border-top: 30px solid #222;
  position: absolute;
  top: -30px;
  left: 30px;
  display: inline-block;
}
.resume_generic .experence_content div span{
  color: aqua;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
.resume_generic .experence_content div h3{
  font-family: "Tektur", cursive;
  margin: 10px 0px;
}
.resume_generic .experence_content div p{
  color: #818181;
  margin: 10px 0px;
  font-size: 1.5rem;
}
.experence_content ul li.ativo{
  color: #dc3545;
}


/*CURSO E DIPLOMAS*/

.resume_generic .education_content div{
  background-color: #222;
  padding: 30px;
  display: none;
  animation: ladoSecao .7s ease-in-out forwards;
  position: relative;
}
.education_content ul {
  color: aqua;
  gap: 30px;
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
  font-size: 30px;

}
.resume_generic .education_content div::before{
  content: '';
  border-right:30px solid transparent ;
  border-top: 30px solid #222;
  position: absolute;
  top: -30px;
  left: 30px;
  display: inline-block;
}
.resume_generic .education_content div span{
  color: aqua;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
.resume_generic .education_content div h3{
  font-family: "Tektur", cursive;
  margin: 10px 0px;
}
.resume_generic .education_content div p{
  color: #818181;
  margin: 10px 0px;
  font-size: 1.5rem;
}
.education_content ul li.ativo{
  color: #dc3545;
}
.resume_generic .education_content div.ativo{
  display: block;

}

/*CURSOS E SKILLS*/

.curses{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  align-items: start;
  padding: 30px;
  gap: 30px;
  justify-content: center;
}
.my_skill{
  display: grid;
}
.my_skill h2{
  padding: 10px 30px;
  border-radius: 10px;
  background-color: rgba(0, 255, 255, 0.548);
  font-size: 1.5rem;
  font-family: "Tektur", cursive;
  margin-bottom: 23px;
  justify-self: start;
}
.my_skill h2 i {
  padding-right: 10px ;
}
.skill_content{
  font-size: 1.5rem;
  grid-column:1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  background-color: #222;
  padding: 15px;

}
.skill_content h3{
  font-size: 2.5rem;
  padding: 20px;
  align-self:center;
}
.skill_content i{
  font-size: 5rem;
  color: aqua;
  padding:20px;

}
.box{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.3);
  border-radius: 15px;
  margin-left: 30px;
  
}
.box_circle svg{
  width: 100px;
  height: 100px;
  
}
.box:hover{
  box-shadow: 2px -3px rgba(0, 255, 255, 0.568);
}

circle{
  width: 100px;
  height: 100px;
  fill:none;
  stroke:black;
  stroke-width:7px;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  
}
circle:nth-child(1){
  stroke-dashoffset: 0;
  stroke: #707070;
}
#html{
  stroke-dashoffset:calc(250 - 175.7);
  stroke:coral;
}
#css{
  stroke-dashoffset:calc(250 - 75);
  stroke:#0870C2;
}
#javascript{
  stroke-dashoffset:calc(250 - 37.5);
  stroke:#E7A630;
}
#kotlin{
  stroke-dashoffset:calc(250 - 25);
  stroke:#C414E2;
}
#mysql{
  stroke-dashoffset:calc(250 - 70);
  stroke:#08668e;
}
#git{
  stroke-dashoffset:calc(250 - 125);
  stroke:#E84D31;
}
#python{
  stroke-dashoffset:calc(250 - 125);
  stroke:#F7C41C;
}
#php{
  stroke-dashoffset:calc(250 - 100);
  stroke:#7377ad;
}
#java{
  stroke-dashoffset:calc(250 - 125);
  stroke:blue;
}
.skill_content ul{
  display: flex;
}
.number{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Tektur", cursive;
}


/*FUN FACTS*/

.funfacts{
  grid-column: 2/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr  ;
}

.funfacts h2{
  grid-column: 1/-1;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: rgba(0, 255, 255, 0.548);
  font-size: 1.5rem;
  font-family: "Tektur", cursive;
  margin-bottom: 30px;
  justify-self: start;
}
.funfacts h2 i{
  padding-right: 10px;
}

.funfacts ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:30px;  
}
.funfacts ul li{
  background-color: #222;
  border: 3px solid #2f2b2b;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  width: 200px;
  height: 100px;
}
.funfacts ul li i{
  grid-row:1/3;
  margin: auto;
  padding: 20px;
  font-size: 3.0rem;
  color: aqua;
  border-right: 3px solid #3e3d3d;
}
.funfacts ul li span {
    font-size: 1.5;
    color: #fff;
    font-family: "Tektur", cursive;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
}
.funfacts ul li p{
  padding-left: 10px;
  color: #707070;
  font-weight: 600;
}

/*Area Expositor Projectos*/

.projects{
  padding: 30px;
  display: grid;
  justify-content: center;
  gap: 30px;
  background-color: #151515;
  margin-top: 30px;
  border-radius: 40px;
}
.projects ul{
  display: flex;
  justify-content: center;
  gap: 30px;
  
}

.projects_models ul li{
  cursor: pointer;
  font-family: "Tektur", cursive;
  background-color: #222;
  border: 1px solid #333;
  padding: 6px 20px;
  color: #707070; 
  border-radius: 15px;
  font-size: 1.3rem;
}
.projects_models ul li:hover{
  color: aqua;
  border: 1px solid aqua;

}
.projects_armazenamento ul{
  display: grid;
  margin-top: 60px;
  gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(4,1fr);  
}
.projects_armazenamento ul li{
  max-width: 100%;
  height: 80%;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.projects_armazenamento ul li.ativo{
  display: block;
  animation: animationImagemBotton 2s ease-in-out forwards;
}
.projects_models ul li.ativo{
  color: aqua;
  border: 1px solid aqua;
}

.projects_armazenamento ul li img{
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

.projects a{
  background-color: #222;
  text-decoration: none;
  justify-self: center;
  padding: 20px 40px;
  border: 1px solid #333;
  color: #707070;
  border-radius: 10px;
  font-size: 1.3rem;
}
.projects a:hover{
  color: aqua;
  border:1px solid aqua;
}

@keyframes animationImagemBotton{
  0%{
    opacity: 0;
    transform:translate3d(0,-90px,0);
  }
  100%{
    opacity: 1;
    transform:translate3d(0,0,0);
  }
}

/*NAVEGAÇÃO FOOTER*/
footer{
  background: #000;
  padding: 30px;
}

.footer_sociais{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  color: #fff;
}
.footer_sociais li{
  background-color: #212020;
  border-radius: 50px;
  border: 1px solid aqua;
}
.footer_sociais li i{
  padding: 30px;
  font-size: 1.5rem;
  color: aqua;
}
.footer_sociais li:hover{
  transition: .3s ease-in-out;
  cursor: pointer;
  background-color: #3e3d3d;
}
.footer_sociais::before{
  content:'';
  height: 5px;
  width: 200px;
  bottom: -30px;
  position: absolute;
  background-color: #222;  
}
footer .footer_comercial{
  text-align: center;
  color: #fff;
  margin: 90px auto;
  font-size: 1.5rem;
  font-family: "Tektur", cursive;
} 

/*RESPONSIVIDADE*/
@media screen and  (max-width: 1090px) {
  .resume_generic .experence_content, .education_content{
     justify-self: center;
     grid-column: 1/-1;
  }
  .resume_generic .education{
    grid-column: 1/-1;
    grid-row: 3;
    justify-self: center;
    margin: 30px 0px ;
  }
  .resume_generic .experence{
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;

  }
  .my_services ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
  
   }

  .curses{
     grid-template-columns: 1fr;
  }
  .curses .funfacts h2 {
    justify-self: center;
  }

  .curses .funfacts{
    margin-bottom: 30px;
    text-align: center;
    grid-template-columns: 1fr;
    justify-self: center;
    grid-column: 1/-1;
     
  }
  .curses .my_skill h2{
    justify-self: center;

  }
  .curses .my_skill{
    justify-self: center;
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-columns: 1/-1;
    
  }
   .curses .my_skill{
    justify-self: center;
    grid-template-columns: 1fr;
    text-align: center;
    grid-column: 1/-1;
   }
   .skill_content{
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;

  }
  .skill_content h3 {
   font-size: 2.0rem;
  }
}
@media screen and (max-width:992px) {
  .section-cv img{
    display: none;
  
  }
  .section-cv div{
    grid-column: 1/-1;
    margin-top: -50px;
    margin-left: -30px;
  }
  header{
    justify-content: space-between;
    padding: 30px 70px;
  }
  .sobre_text p{
    font-size: 1.3rem;
    grid-column: 1/-1;
    text-align: justify;    
}

  header .navegacao-hearder{
    display:none;
  }
  header .navegacao-hearder.ativado{
    background:linear-gradient(rgba(43,42,42,0.176), rgba(46,46,46,0.724));
    position:absolute;
    display: grid;
    top: 150px;
    color: white;
    z-index: 1;
    padding: 30px;
    font-size: 1.5rem;
    border-radius: 0 0 30px 30px;
    right: 20px;
    animation: sobeSecao .8s ease-in-out;

  }

  header i{
    color: aqua;
    font-size: 4rem;
    margin: 30px;
  }
  header h1 {
    color: rgb(41, 223, 223);
    font-size: 3rem;
  }
}

@media screen and (max-width: 992px) {
    .sobre img{
      grid-column: 1/-1;
      justify-self: center;
      border-radius: 10px;
    }
    
    .sobre_conteudo{
      grid-column: 1/-1;
    }
    .my_services ul{
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center;
      justify-content: center;
     }
     .my_services ul{
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center;
      justify-content: center;
      size:1rem ;
     }
     .sobre_conteudo{
      word-break: break-all;
      padding: 0px;
  
    }
    .projects_armazenamento ul{
      display: grid;
      margin-top: 50px;
      gap: 30px;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      text-align: center;  
    }
}
  @media screen and (max-width: 600px){
  .my_services ul {
    display: grid;
    grid-template-columns: 300px;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
   .sobre_info{
    display: grid;
    grid-template-columns: 1fr;
    text-align: justify;
    border: solid 1px aqua;
    border-radius: 30px;
    padding: 30px;
   }
    .projects_models ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
   }
   .section-cv div {
    margin-top: 10px;
    align-self: center;
    text-align: start;
    gap: 20px;
    font-size: 1.5rem;
    padding: 50px
}
.funfacts ul{
  display:grid;
  grid-template-columns: 1fr;
}
.skill_content {
  grid-template-columns: auto;
  align-self: center;
  text-align: center;
  border-radius: 10px;
  
  }
  .sobre_conteudo{
    word-break: break-all;
    padding: 0px;

  }
  body {
    width: 100vw;
  }
  
.resume_generic {
  padding: 0px;
  gap: 10px;
}
.projects_armazenamento ul{
  display: inline-table;
  margin-top: 10px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr ;  
}
.projects_armazenamento ul li{
  margin-bottom: 30px;
}
.projects_armazenamento ul li:hover{
 border: 1px solid aqua;
 border-radius: 10px;
}
   
}

